<header [ngClass]="getHeaderClass()" class="transition-all duration-300 ease-in-out">
  <nav class="border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a href="/" class="flex items-center">
        <img src="/imagenes/fe.png" class="mr-3 h-8 sm:h-12 rounded-full" alt="Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">CEFED</span>
      </a>

      <!-- Botón de menú en mobile -->
      <div class="flex items-center lg:order-2">
        <button (click)="toggleMenu()" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" [attr.aria-expanded]="menuOpen ? 'true' : 'false'">
          <span class="sr-only">Open main menu</span>
          <svg *ngIf="!menuOpen" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          </svg>
          <svg *ngIf="menuOpen" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>

      <!-- Menú principal -->
      <div class="hidden lg:flex lg:items-center lg:w-auto" id="mobile-menu">
        <ul class="flex items-center font-medium space-x-8">
          <li><a routerLink="/pages" class="py-2 px-4 hover:bg-gray-50 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700">Inicio</a></li>
          <li><a routerLink="/pages/about" class="py-2 px-4 hover:bg-gray-50 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700">Acerca De</a></li>

          <!-- Submenú "Ministerios" -->
          <li class="relative group">
            <button type="button" (click)="toggleSubMenu()" class="py-2 px-4 hover:bg-gray-50 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700">Ministerios</button>
            <div class="sub-menu absolute bg-gray-800 text-white border border-gray-700 rounded-md shadow-lg mt-2 z-50" [class.hidden]="!subMenuOpen">
              <a routerLink="/pages/mn" (click)="selectCategory()" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Niños</a>
              <a routerLink="/pages/jovenes" (click)="selectCategory()" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Jóvenes</a>
              <a routerLink="/ministerios/servicio" (click)="selectCategory()" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Damas</a>
              <a routerLink="/ministerios/musica" (click)="selectCategory()" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Ujieres</a>
            </div>
          </li>

          <li><a routerLink="/pages/contacto" class="py-2 px-4 hover:bg-gray-50 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700">Contactos</a></li>
        </ul>
      </div>
    </div>
  </nav>

 <!-- Menú lateral en mobile -->
 <div class="fixed inset-0 bg-black bg-opacity-50 z-40" *ngIf="menuOpen" (click)="toggleMenu()"></div>
 <div id="sidebar" class="fixed inset-0 left-0 w-64 transform transition-transform duration-300 ease-in-out z-50 bg-gray-800 dark:bg-gray-900 text-white" [ngClass]="{'translate-x-0': menuOpen, '-translate-x-full': !menuOpen}">
   <div class="flex flex-col items-start p-4">
     <ul class="space-y-6 font-medium">
       <li><a routerLink="/pages" (click)="selectCategory()" class="text-gray-300 hover:bg-gray-700 py-2 px-4 rounded-md">Inicio</a></li>
       <li><a routerLink="/pages/about" (click)="selectCategory()" class="text-gray-300 hover:bg-gray-700 py-2 px-4 rounded-md">Acerca De</a></li>

       <!-- Submenú en mobile -->
       <li class="relative group">
         <button (click)="toggleSubMenu()" class="text-gray-300 hover:bg-gray-700 py-2 px-4 rounded-md">Ministerios</button>
         <div class="sub-menu absolute bg-gray-800 text-white border border-gray-700 rounded-md shadow-lg mt-2 z-50" [class.hidden]="!subMenuOpen">
           <a routerLink="/pages/mn" (click)="selectCategory()" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Niños</a>
           <a routerLink="/pages/jovenes" (click)="selectCategory()" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Jóvenes</a>
           <a routerLink="/ministerios/servicio" (click)="selectCategory()" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Damas</a>
           <a routerLink="/ministerios/musica" (click)="selectCategory()" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Ujieres</a>
         </div>
       </li>

       <li><a routerLink="/pages/contacto" (click)="selectCategory()" class="text-gray-300 hover:bg-gray-700 py-2 px-4 rounded-md">Contactos</a></li>
     </ul>
   </div>
 </div>
</header>
