<app-banner-carousel></app-banner-carousel>

<!-- Sección de Bienvenida -->
<section class="bg-custom-dark2 py-12">
  <div class="max-w-screen-xl mx-auto px-4 text-center">
      <h1 class="text-4xl font-extrabold leading-tight text-white dark:text-white">Bienvenidos a CEFED</h1>
      <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">Estamos contentos de que haya visitado nuestro sitio web. Nos encantaría que usted viniera y forme parte de nuestra familia. Somos una iglesia Cristocéntrica, nuestro propósito es dar a conocer a Cristo como nuestro único Señor y Salvador y queremos invitarle a que juntos alabemos y adoremos su nombre.</p>
      <div class="mt-8 flex justify-center">
          <div class="relative group">
              <img src="/imagenes/Predica.jpg" alt="Predica" class="rounded-lg shadow-lg transform transition duration-300 group-hover:shadow-2xl group-hover:shadow-indigo-500/50">
          </div>
      </div>
  </div>
</section>


<!-- Sección de Servicios -->
<section class="bg-gradient-to-b from-custom-dark2 to-custom-medium">
  <div class="max-w-screen-xl mx-auto px-4 text-center">
      <h1 class="text-4xl font-extrabold leading-tight text-white dark:text-white">Nuestros Servicios</h1>
      <p class="text-lg text-gray-600 dark:text-gray-300 mt-4">Descubre nuestras actividades y únete a nosotros para adorar y crecer en la fe.</p>
  </div>
  <div class="max-w-screen-xl mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
      <div class="bg-blue-200 dark:bg-gray-700 p-6 rounded-lg shadow-md hover:shadow-xl transform transition duration-300 hover:rotate-2 hover:scale-105 border-l-4 border-primary-600">
          <h2 class="text-xl font-semibold mb-2 dark:text-white text-center">Culto General</h2>
          <p class="text-gray-300 dark:text-gray-300 text-center">Domingos 10:00 - 12:30</p>
          <p class="text-gray-400 dark:text-gray-400 mt-2 text-center">"Venid, aclamemos alegremente a Jehová; cantemos con júbilo a la roca de nuestra salvación." - Salmos 95:1</p>
      </div>
      <div class="bg-indigo-200 dark:bg-gray-700 p-6 rounded-lg shadow-md hover:shadow-xl transform transition duration-300 hover:rotate-2 hover:scale-105 border-l-4 border-green-600">
          <h2 class="text-xl font-semibold mb-2 dark:text-white text-center">Culto de Jóvenes</h2>
          <p class="text-gray-300 dark:text-gray-300 text-center">Sábados 09:00 - 11:30</p>
          <p class="text-gray-400 dark:text-gray-400 mt-2 text-center">"Ninguno tenga en poco tu juventud, sino sé ejemplo de los creyentes en palabra, conducta, amor, espíritu, fe y pureza." - 1 Timoteo 4:12</p>
      </div>
      <div class="bg-gray-200 dark:bg-gray-700 p-6 rounded-lg shadow-md hover:shadow-xl transform transition duration-300 hover:rotate-2 hover:scale-105 border-l-4 border-purple-600">
          <h2 class="text-xl font-semibold mb-2 dark:text-white text-center">Culto de Damas</h2>
          <p class="text-gray-300 dark:text-gray-300 text-center">Fin de Mes - Jueves 15:00 - 16:00</p>
          <p class="text-gray-400 dark:text-gray-400 mt-2 text-center">"Engañosa es la gracia y vana la hermosura; la mujer que teme a Jehová, ésa será alabada." - Proverbios 31:30</p>
      </div>
  </div>
</section>

<!-- Sección de Actividades -->
<section class="bg-gradient-to-b from-custom-medium to-custom-light py-12">
  <div class="max-w-screen-xl mx-auto px-4 text-center text-white">
      <h2 class="text-3xl font-bold mb-4">Actividades</h2>
      <p class="mb-6">Tiempos maravillosos donde hemos visto a Dios obrar en nuestras vidas</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
          <div class="relative group">
              <a href="/imagenes/Actividades1.jpg" target="_blank">
                  <img src="/imagenes/Actividades1.jpg" alt="Actividad 1" class="w-full h-48 object-cover rounded-lg shadow-md">
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                      <h3 class="text-xl font-bold text-white"></h3>
                  </div>
              </a>
          </div>
          <div class="relative group">
              <a href="/imagenes/Actividades2.jpg" target="_blank">
                  <img src="/imagenes/Actividades2.jpg" alt="Actividad 2" class="w-full h-48 object-cover rounded-lg shadow-md">
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                      <h3 class="text-xl font-bold text-white"></h3>
                  </div>
              </a>
          </div>
          <div class="relative group">
              <a href="/imagenes/Actividades3.jpg" target="_blank">
                  <img src="/imagenes/Actividades3.jpg" alt="Actividad 3" class="w-full h-48 object-cover rounded-lg shadow-md">
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                      <h3 class="text-xl font-bold text-white"></h3>
                  </div>
              </a>
          </div>
          <div class="relative group">
              <a href="/imagenes/Actividades4.jpg" target="_blank">
                  <img src="/imagenes/Actividades4.jpg" alt="Actividad 4" class="w-full h-48 object-cover rounded-lg shadow-md">
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                      <h3 class="text-xl font-bold text-white"></h3>
                  </div>
              </a>
          </div>
          <div class="relative group">
              <a href="/imagenes/Actividades5.jpg" target="_blank">
                  <img src="/imagenes/Actividades5.jpg" alt="Actividad 5" class="w-full h-48 object-cover rounded-lg shadow-md">
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                      <h3 class="text-xl font-bold text-white"></h3>
                  </div>
              </a>
          </div>
          <div class="relative group">
              <a href="/imagenes/Actividades6.jpg" target="_blank">
                  <img src="/imagenes/Actividades6.jpg" alt="Actividad 6" class="w-full h-48 object-cover rounded-lg shadow-md">
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                      <h3 class="text-xl font-bold text-white"></h3>
                  </div>
              </a>
          </div>
          <div class="relative group">
              <a href="/imagenes/Actividades7.jpg" target="_blank">
                  <img src="/imagenes/Actividades7.jpg" alt="Actividad 7" class="w-full h-48 object-cover rounded-lg shadow-md">
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                      <h3 class="text-xl font-bold text-white"></h3>
                  </div>
              </a>
          </div>
          <div class="relative group">
              <a href="/imagenes/Actividades8.jpg" target="_blank">
                  <img src="/imagenes/Actividades8.jpg" alt="Actividad 8" class="w-full h-48 object-cover rounded-lg shadow-md">
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                      <h3 class="text-xl font-bold text-white"></h3>
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>
