<!-- Sección de Contacto con Tarjeta Flotante -->
<section class="py-12 bg-gradient-to-b from-custom-light to-custom-medium">
    <div class="max-w-screen-xl mx-auto px-4">
        <h2 class="flex justify-center text-3xl font-extrabold leading-tight text-white">Escríbenos</h2>
        <p class="text-lg text-center text-gray-300 mb-6">Si tienes alguna pregunta o necesitas oración, no dudes en contactarnos.</p>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <form class="space-y-4 bg-custom-medium p-6 rounded-lg shadow-xl" (ngSubmit)="enviarMensaje()">
                <input 
                    type="text" 
                    placeholder="Nombre *" 
                    class="w-full px-4 py-2 rounded-lg focus:outline-none border border-gray-600" 
                    [(ngModel)]="formData.nombre" 
                    name="nombre" 
                    required>
                
                <input 
                    type="email" 
                    placeholder="Correo *" 
                    class="w-full px-4 py-2 rounded-lg focus:outline-none border border-gray-600" 
                    [(ngModel)]="formData.correo" 
                    name="correo" 
                    required>
                
                <input 
                    type="tel" 
                    placeholder="Número de teléfono *" 
                    class="w-full px-4 py-2 rounded-lg focus:outline-none border border-gray-600" 
                    [(ngModel)]="formData.telefono" 
                    name="telefono" 
                    required>
                
                <textarea 
                    placeholder="Mensaje *" 
                    class="w-full px-4 py-2 rounded-lg focus:outline-none border border-gray-600" 
                    [(ngModel)]="formData.mensaje" 
                    name="mensaje" 
                    required>
                </textarea>
                
                <button 
                    type="submit" 
                    class="w-full bg-primary-800 hover:bg-primary-900 text-white px-4 py-2 rounded-lg">
                    Enviar
                </button>
            </form>
            <div class="flex flex-col space-y-4 justify-center bg-custom-medium p-6 rounded-lg shadow-xl">
                <div class="text-center">
                    <h3 class="text-2xl font-semibold text-white">Contáctanos</h3>
                    <p class="text-lg text-gray-300">Centro Evangelístico Fe en Dios</p>
                    <p class="text-lg text-gray-300">Salinas, Ecuador</p>
                </div>
                <div class="text-center">
                    <p class="text-lg text-gray-300">Email: <a href="mailto:iglesiacefed.info@gmail.com" class="text-primary-300">CEFED INFO</a></p>
                    <p class="text-lg text-gray-300">Teléfono: +593 93 944 2125</p>
                </div>
                <div class="mt-4">
                    <div class="relative h-96">
                        <iframe 
                            class="absolute inset-0 w-full h-full rounded-lg" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1124.6397494669848!2d-80.88918505958605!3d-2.3181469265084975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902e07415d5fcc1b%3A0xb9d85007cd578d62!2sCentro%20Evangelistico%20Fe%20en%20Dios!5e0!3m2!1ses-419!2sec!4v1734028549486!5m2!1ses-419!2sec" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
